<!-- SECTION OUR CLINIC -->
<section class="clinic">
  <div class="container about-thumb">
    <div class="about-img-box clinic-box">
      <picture>
        <source
          srcset="
            ./img/about-page/mob/about-1-375.webp    1x,
            ./img/about-page/mob/about-1-375@2x.webp 2x
          "
          media="(max-width: 833px)"
        />
        <source
          srcset="
            ./img/about-page/tab/about-1-834.webp    1x,
            ./img/about-page/tab/about-1-834@2x.webp 2x
          "
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./img/about-page/desk/about-1-1400.webp    1x,
            ./img/about-page/desk/about-1-1400@2x.webp 2x
          "
          media="(min-width:1440px)"
        />
        <img
          loading="lazy"
          src="./img/about-page/desk/about-1-1400.webp"
          alt="стоматолог"
          sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
        />
      </picture>
      <picture class="about-img-hidden">
        <source
          srcset="
            ./img/about-page/desk/about-1.1-1400.webp    1x,
            ./img/about-page/desk/about-1.1-1400@2x.webp 2x
          "
          media="(min-width:1440px)"
        />
        <img
          loading="lazy"
          src="./img/about-page/desk/about-1.1-1400.webp"
          alt="стоматолог"
          sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
        />
      </picture>
    </div>
    <div class="about-text-box">
      <h2 class="main-title">Наша клініка</h2>
      <p class="main-text">
        Вітаємо вас в Picasso Dental Clinic - вашому надійному партнері у
        догляді за здоров'ям вашого усмішки! Ми пишаємося високими стандартами
        якості та використовуємо передові технології, щоб забезпечити ефективне
        та безболісне лікування. Наша команда досвідчених лікарів і медичних
        фахівців завжди готова надати вам індивідуальний підхід та професійну
        допомогу в будь-якій ситуації.Наша місія полягає в тому, щоб забезпечити
        вам не лише здорову посмішку, але й впевненість у собі та радість від
        життя. Довірте своє стоматологічне здоров'я нашій команді експертів, і
        ми зробимо все можливе, щоб зробити вашу посмішку яскравою та
        привабливою.
      </p>
    </div>
  </div>
</section>

<!-- SECTION DOCTORS -->
<section class="doctors">
  <div class="container about-thumb">
    <div>
      <picture>
        <source
          srcset="
            ./img/about-page/mob/about-2-375.webp    1x,
            ./img/about-page/mob/about-2-375@2x.webp 2x
          "
          media="(max-width: 833px)"
        />
        <source
          srcset="
            ./img/about-page/tab/about-2-834.webp    1x,
            ./img/about-page/tab/about-2-834@2x.webp 2x
          "
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./img/about-page/desk/about-2-1400.webp    1x,
            ./img/about-page/desk/about-2-1400@2x.webp 2x
          "
          media="(min-width:1440px)"
        />
        <img
          loading="lazy"
          src="./img/about-page/desk/about-2-1400.webp"
          alt="стоматолог"
          sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
        />
      </picture>
    </div>
    <div class="about-text-box">
      <h2 class="main-title">Лікарі</h2>
      <p class="main-text">
        Лікарі Picasso Dental Clinic - це команда досвідчених та
        висококваліфікованих професіоналів, які присвячені вашому здоров'ю та
        красі вашої посмішки. Кожен лікар нашої клініки має глибокі знання та
        багаторічний досвід у галузі стоматології, завдяки чому ми забезпечуємо
        наших пацієнтів найкращими рішеннями та результатами. Наші лікарі
        постійно підтримують свою кваліфікацію та вивчають нові технології, щоб
        завжди бути на передовій у своїй сфері. Вони володіють найсучаснішими
        методиками та техніками лікування, а також надають індивідуальний підхід
        до кожного клієнта, враховуючи їхні потреби та побажання. Зверніться до
        наших лікарів, і ви отримаєте найкращий догляд та лікування для вашого
        усмішки!
      </p>
    </div>
  </div>
</section>

<!-- SECTION PHILOSOPHY -->
<section class="philosophy">
  <div class="container about-thumb">
    <div class="about-img-box philosophy-box">
      <picture>
        <source
          srcset="
            ./img/about-page/mob/about-3-375.webp    1x,
            ./img/about-page/mob/about-3-375@2x.webp 2x
          "
          media="(max-width: 833px)"
        />
        <source
          srcset="
            ./img/about-page/tab/about-1-834.webp    1x,
            ./img/about-page/tab/about-1-834@2x.webp 2x
          "
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./img/about-page/desk/about-3-1400.webp    1x,
            ./img/about-page/desk/about-3-1400@2x.webp 2x
          "
          media="(min-width:1440px)"
        />
        <img
          loading="lazy"
          src="./img/about-page/desk/about-1-1400.webp"
          alt="стоматолог"
          sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
        />
      </picture>
      <picture class="about-img-hidden">
        <source
          srcset="
            ./img/about-page/desk/about-3.1-1400.webp    1x,
            ./img/about-page/desk/about-3.1-1400@2x.webp 2x
          "
          media="(min-width:1440px)"
        />
        <img
          loading="lazy"
          src="./img/about-page/desk/about-3.1-1400.webp"
          alt="стоматолог"
          sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
        />
      </picture>
    </div>
    <div class="about-text-box">
      <h2 class="main-title">Філософія</h2>
      <p class="main-text">
        Філософія Picasso Dental Clinic полягає у забезпеченні високоякісних
        стоматологічних послуг, зосереджених на індивідуальних потребах
        пацієнтів. Ми прагнемо поєднувати сучасні технології з людським підходом
        до кожного клієнта, забезпечуючи комфорт та задоволення від процесу
        лікування. Наша мета - забезпечити здоровий та привабливий посмішку для
        кожного пацієнта, забезпечуючи безпеку та ефективність в кожній
        процедурі. Довірте свій усмішку нам, і ми зробимо кожен момент вашого
        візиту до Picasso Dental Clinic незабутнім та приємним досвідом!
      </p>
    </div>
  </div>
</section>

<!-- SECTION CONTACTS -->
<section class="about-contacts">
  <div class="container">
    <h2 class="about-contacts-title">Залишились питання?</h2>
    <ul class="about-contacts-list">
      <li>
        <button type="button" class="button-main-dark">Записатись</button>
      </li>
      <li>
        <button type="button" class="button-secondary-dark">
          Консультація
        </button>
      </li>
    </ul>
  </div>
</section>
