<div class="contacts-map-container">
  <div class="contacts-info-box container">
    <div class="contacts-text-box">
      <h2 class="contacts-title main-title">Графік роботи та контакти</h2>
      <ul class="schedule-list">
        <li class="schedule-item">
          <p class="contacts-text main-text">ПН-СБ з 10:00-20:00</p>
        </li>
        <li class="schedule-item">
          <p class="contacts-text main-text">НД - вихідний</p>
        </li>
      </ul>
      <p class="contacts-text main-text">
        Адреса: <br />вул. Бабʼяка (Бобяка) 1Б, ЖК "Crystal" (2 поверх),
        <br />м. Ужгород, Україна, 88015
      </p>
      <p class="contacts-text main-text">
        Контактні номери: <br />+38 097 247 57 47 <br />+38 099 247 57 47
      </p>
    </div>
    <ul class="contacts-btn-list">
      <li class="contacts-btn-item">
        <button type="button" class="button-main-light contacts-btn-light">
          Записатись
        </button>
      </li>
      <li class="contacts-btn-item">
        <button type="button" class="button-main-dark contacts-btn-dark">
          Онлайн-консультація
        </button>
      </li>
    </ul>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d454.281388440805!2d22.26365930819987!3d48.612513674685324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473918f78189b989%3A0xa1c434b703c3bbb0!2z0LLRg9C7LiDQkdCw0LEn0Y_QutCwLCAx0LEsINCj0LbQs9C-0YDQvtC0LCDQl9Cw0LrQsNGA0L_QsNGC0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDg4MDAw!5e0!3m2!1sru!2sua!4v1714512321794!5m2!1sru!2sua"
    width="600"
    height="450"
    style="border: 0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="map"
  ></iframe>
</div>
