<section>
  <div>
    <a href="">
      <svg>
        <use href="../footer_sprite/symbol-defs.svg#icon-logo_footer_1"></use>
      </svg>
    </a>
    <ul>
      <li><a href="">Головна</a></li>
      <li><a href="">Про нас</a></li>
      <li><a href="">Послуги</a></li>
      <li><a href="">Портфоліо</a></li>
      <li><a href="">Графік Роботи</a></li>
    </ul>

    <ul>
      <li>
        <a href="">
          <p>Instagram</p>
          <!-- <svg>
        <use href="../footer_sprite/symbol-defs.svg#icon-logo_footer_1"></use>
      </svg> -->
        </a>
      </li>
      <li>
        <a href="">
          <p>Facebook</p>
          <!-- <svg>
        <use href="../footer_sprite/symbol-defs.svg#icon-logo_footer_1"></use>
      </svg> -->
        </a>
      </li>
    </ul>
    <p>Copyright ©2024 Picasso Dental Clinic. All Rights Reserved</p>
  </div>
</section>
