<footer class="footer">
  <div class="container">
    <a href="../index.html" aria-label="Перейти на головну сторінку">
      <svg>
        <use href="../img/icons/footer_symbol-defs.svg#icon-logo_footer"></use>
      </svg>
    </a>
    <ul class="footer-nav-list">
      <li>
        <a
          class="footer-nav"
          href="../index.html"
          aria-label="Перейти на головну сторінку"
          >Головна</a
        >
      </li>
      <li>
        <a
          class="footer-nav"
          href="../about.html"
          aria-label="Перейти на сторінку про нас"
          >Про нас</a
        >
      </li>
      <li>
        <a
          class="footer-nav"
          href="../services.html"
          aria-label="Перейти на сторінку послуги"
          >Послуги</a
        >
      </li>
      <li>
        <a
          class="footer-nav"
          href="../portfolio.html"
          aria-label="Перейти на сторінку портфоліо"
          >Портфоліо</a
        >
      </li>
      <li>
        <a
          class="footer-nav"
          href="../index.html#contacts"
          aria-label="Перейти на сторінку контакти"
          >Контакти</a
        >
      </li>
    </ul>

    <ul>
      <li>
        <a
          href="https://www.instagram.com/picasso_dental.clinic?utm_source=qr&igsh=MTh0NndsenliczB0aQ%3D%3D"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Перейти на сторінку в інстаграм"
        >
          <p>Instagram</p>
          <svg class="footer-icon">
            <use
              href="../img/icons/footer_symbol-defs.svg#icon-instagram_footer"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/profile.php?id=61555992634825"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Перейти на сторінку у фейсбук"
        >
          <p>Facebook</p>
          <svg class="footer-icon">
            <use
              href="../img/icons/footer_symbol-defs.svg#icon-facebook_footer"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
    <p>
      Copyright &copy; 2024 Picasso Dental Clinic.
      <span>All Rights Reserved</span>
    </p>
  </div>
</footer>
