<footer>
  <div class="container">
    <a href="../index.html">
      <svg>
        <use href="../img/icons/footer_symbol-defs.svg#icon-logo_footer"></use>
      </svg>
    </a>
    <ul>
      <li><a href="../index.html">Головна</a></li>
      <li><a href="../about.html">Про нас</a></li>
      <li><a href="../services.html">Послуги</a></li>
      <li><a href="../portfolio.html">Портфоліо</a></li>
      <li><a href="../index.html#contacts">Графік Роботи</a></li>
    </ul>

    <ul>
      <li>
        <a
          href="https://www.instagram.com/picasso_dental.clinic?utm_source=qr&igsh=MTh0NndsenliczB0aQ%3D%3D"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Instagram"
        >
          <p>Instagram</p>
          <svg>
            <use
              href="../img/icons/footer_symbol-defs.svg#icon-instagram_footer"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/profile.php?id=61555992634825"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Facebook"
        >
          <p>Facebook</p>
          <svg>
            <use
              href="../img/icons/footer_symbol-defs.svg#icon-facebook_footer"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
    <p>
      Copyright &copy; 2024 Picasso Dental Clinic.
      <span>All Rights Reserved</span>
    </p>
  </div>
</footer>
