<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Галерея робіт</h2>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-1-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-1-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-1-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-1-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-1-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-1-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-1-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-1-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-1-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-1-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-2-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-2-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-2-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-2-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-2-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-2-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-2-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-2-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-2-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-2-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-3-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-3-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-3-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-3-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-3-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-3-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-3-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-3-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-3-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-3-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-4-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-4-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-4-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-4-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-4-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-4-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-4-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-4-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-4-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-4-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-5-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-5-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-5-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-5-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-5-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-5-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-5-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-5-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-5-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-5-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-6-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-6-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-6-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-6-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-6-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-6-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-6-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-6-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-6-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-6-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-7-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-7-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-7-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-7-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-7-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-7-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-7-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-7-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-7-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-7-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-8-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-8-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-8-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-8-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-8-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-8-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-8-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-8-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-8-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-8-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./img/portfolio-page/mob/portfolio-9-375.webp    1x,
              ./img/portfolio-page/mob/portfolio-9-375@2x.webp 2x,
              ./img/portfolio-page/mob/portfolio-9-375@3x.webp 3x
            "
            media="(max-width: 833px)"
          />
          <source
            srcset="
              ./img/portfolio-page/tab/portfolio-9-834.webp    1x,
              ./img/portfolio-page/tab/portfolio-9-834@2x.webp 2x,
              ./img/portfolio-page/tab/portfolio-9-834@3x.webp 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/portfolio-page/desk/portfolio-9-1440.webp    1x,
              ./img/portfolio-page/desk/portfolio-9-1440@2x.webp 2x,
              ./img/portfolio-page/desk/portfolio-9-1440@3x.webp 3x
            "
            media="(min-width:1440px)"
          />
          <img
            loading="lazy"
            src="./img/portfolio-page/desk/portfolio-9-1440.webp"
            alt="індивідуальний підхід до кожного клієнта"
            sizes="(min-width:1440px) 25vw, (min-width:834px) 50vw, 100vw"
          />
        </picture>
      </li>
    </ul>
    <button type="button" class="button-secondary-dark portfolio-btn">
      Завантажити ще
    </button>
    <div class="info-box">
      <h3 class="info-subtitle">
        Продивитися більше робіт і інформації в нашому Instagram
      </h3>
      <button type="button" class="button-main-dark button-width">Переглянути більше</button>
    </div>
  </div>
</section>
