<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a
        href="./index.html"
        class="header-logo"
        aria-label="Перейти на домашню сторінку"
      >
        <svg class="header-icon" width="74" height="58">
          <use href="./img/icons/header-icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button
        class="header-burger-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Відкрити мобільне меню з навігацією"
        data-mobile-menu-open
      >
        <svg width="24" height="24">
          <use href="./img/icons/header-icons.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a
            href="./index.html"
            class="header-nav-link"
            id="header-nav-link-home"
            >Головна</a
          >
        </li>
        <li class="header-nav-item">
          <a href="./about.html" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="./services.html" class="header-nav-link">Послуги</a>
        </li>
        <li class="header-nav-item">
          <a href="./portfolio.html" class="header-nav-link">Портфоліо</a>
        </li>
        <li class="header-nav-item">
          <a
            href="./index.html#contacts"
            class="header-nav-link"
            id="contact-link"
            >Контакти</a
          >
        </li>
      </ul>
      <button
        type="button"
        class="button-main-dark header-nav-btn"
        aria-label="Записатись на візит"
        id="appointmentModalBtn"
      >
        Записатись
      </button>
    </nav>
  </div>
</header>
