<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="../index.html" lang="uk" class="header-logo">
        <svg class="header-icon" width="74" height="58">
          <use href="../img/icons/header-icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button
        class="header-burger-menu js-open-mobile-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Open mobile menu"
      >
        <svg width="24" height="24">
          <use href="../img/icons/header-icons.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="../index.html" class="header-nav-link">Головна</a>
        </li>
        <li class="header-nav-item">
          <a href="../about.html" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Послуги</a>
        </li>
        <li class="header-nav-item">
          <a href="../portfolio.html" class="header-nav-link">Портфоліо</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Контакти</a>
        </li>
      </ul>
      <button type="button" class="button-main-dark header-nav-btn">
        Записатись
      </button>
    </nav>
  </div>
</header>
