<section>
  <div class="container portfolio-hero-section">
    <svg class="portfolio-icon">
      <use href="./img/icons/portfolio-icon.svg#icon-Decorative-circle"></use>
    </svg>
    <h1 class="main-header">Портфоліо робіт</h1>
    <p class="hero-section-text hero-portfolio-text">
      — простір, куди хочеться повертатися знову, адже ми любимо те, що робимо
      та робимо все з любов'ю
    </p>

    <button
      type="button"
      id="appointment-modal"
      class="button-main-dark hero-section-button"
    >
      Записатись
    </button>
  </div>
</section>
