<section>
  <div class="container homepage-section">
    <svg class="about-section-icon">
      <use
        href="./img/icons/homepage.svg#icon-BG-Circle"
      ></use>
    </svg>
    <div class="about-section-box">
      <div class="about-section-image">
        <picture>
          <source
            srcset="
              ../img/home-page/home-1-1440@3x.webp 3x,
              ../img/home-page/home-1-1440@2x.webp 2x,
              ../img/home-page/home-1-1440@1x.webp 1x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/home-page/home-1-834@3x.webp 3x,
              ../img/home-page/home-1-834@2x.webp 2x,
              ../img/home-page/home-1-834@1x.webp 1x
            "
            media="(min-width: 834px)"
          />

          <source
            srcset="
              ../img/home-page/home-1-375@3x.webp 3x,
              ../img/home-page/home-1-375@2x.webp 2x,
              ../img/home-page/home-1-375@1x.webp 1x
            "
            media="(min-width: 320px)"
          />

          <img src="../img/home-page/home-1-1440@1x.webp" alt="безболісне лікування зубів для дітей" />
        </picture>
      </div>
      <div class="about-section-text-box">
        <h2 class="main-title about-section-first-title">Про нас</h2>
        <p class="main-text">
          Філософія Picasso Dental Clinic базується на глибинному аналізі
          безлічі підходів доказової медицини та розробці своєї власної
          авторської концепції, яка полягає у гармонійному поєднанні
          використання інноваційних технологій та матеріалів, інтеграції
          практичного досвіду і теоретичних знань провідних спеціалістів
          клініки, що спрямовуються на підбір прогнозованого та найбільш
          оптимального вирішення клінічної ситуації для кожного пацієнта
          персонально, а також сприяють покращенню якості життя через призму
          загального здоров’я та профілактики.
        </p>
        <div class="about-section-btn-box">
          <button type="button" class="button-main-dark" id="consultation-modal">Консультація</button>
          <a href="../about.html" class="button-main-light about-section-button"
            >детальніше</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-service-section">
  <div class="homepage-section service-section-box-reverse container">
    <div class="service-section-image-box">
      <div class="service-section-image-reverse">
        <picture class="service-section-image-desktop">
          <source
            srcset="
              ../img/home-page/home-2-1440@3x.webp 3x,
              ../img/home-page/home-2-1440@2x.webp 2x,
              ../img/home-page/home-2-1440@1x.webp 1x
            "
            media="(min-width: 1440px)"
          />
          <img src="../img/home-page/home-4-1440@1x.webp" alt="цінуємо комфорт наших клієнтів" />
        </picture>
        <picture>
          <source
            srcset="
              ../img/home-page/home-3-1440@3x.webp 3x,
              ../img/home-page/home-3-1440@2x.webp 2x,
              ../img/home-page/home-3-1440@1x.webp 1x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/home-page/home-2-834@3x.webp 3x,
              ../img/home-page/home-2-834@2x.webp 2x,
              ../img/home-page/home-2-834@1x.webp 1x
            "
            media="(min-width: 834px)"
          />
          <source
            srcset="
              ../img/home-page/home-2-375@3x.webp 3x,
              ../img/home-page/home-2-375@2x.webp 2x,
              ../img/home-page/home-2-375@1x.webp 1x
            "
            media="(min-width: 320px)"
          />

          <img src="../img/home-page/home-2-1440@1x.webp" alt="використовуємо індивідуальний підхід до клієнта" />
        </picture>
        
      </div>
    </div>
    <div class="about-section-text-box">
      <h2 class="main-title about-section-second-title">Послуги клініки</h2>
      <p class="main-text">
        Picasso Dental Clinic пропонує широкий спектр послуг зі стоматологічного
        догляду, розроблений, щоб задовольнити різноманітні потреби наших
        пацієнтів. Наша команда професіоналів готова забезпечити вас найвищою
        якістю обслуговування в затишній та дружній атмосфері. Наша місія -
        забезпечити вам найкращий стоматологічний догляд, зробити вашу усмішку
        яскравою та здоровою. Звертайтеся до Picasso Dental Clinic, де ваше
        здоров'я є нашим пріоритетом!
      </p>
      <div class="about-section-btn-box">
        <button type="button" class="button-main-dark" id="appointment-modal">Записатись</button>
        <a href="../services.html" class="button-main-light about-section-button"
          >детальніше</a
        >
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container homepage-section">
    <div class="about-section-box">
      <picture>
        <source
          srcset="
            ../img/home-page/home-4-1440@3x.webp 3x,
            ../img/home-page/home-4-1440@2x.webp 2x,
            ../img/home-page/home-4-1440@1x.webp 1x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/home-page/home-3-834@3x.webp 3x,
            ../img/home-page/home-3-834@2x.webp 2x,
            ../img/home-page/home-3-834@1x.webp 1x
          "
          media="(min-width: 834px)"
        />
        <source
          srcset="
            ../img/home-page/home-3-375@3x.webp 3x,
            ../img/home-page/home-3-375@2x.webp 2x,
            ../img/home-page/home-3-375@1x.webp 1x
          "
          media="(min-width: 320px)"
        />

        <img src="../img/home-page/home-4-1440@1x.webp" alt="сліпучий усміх запорука нашого успіху " />
      </picture>
      <div class="about-section-text-box">
        <h2 class="main-title about-section-third-title">Портфоліо</h2>
        <p class="main-text">
          Портфоліо Picasso Dental Clinic - це візитна картка нашої клініки, де
          ми демонструємо наші найкращі роботи та досягнення. Воно є
          відображенням нашої експертизи, творчості та відданості
          стоматологічному мистецтву. Наше портфоліо - це не лише показник
          нашого досвіду і професійності, але й запрошення відкрити двері в світ
          стоматології, де кожна усмішка стає шедевром. Вітаємо вас у світі
          Picasso Dental Clinic, де ми створюємо посмішки, які залишаються в
          серцях наших клієнтів назавжди.
        </p>
        <div class="about-section-btn-box">
          <button type="button" class="button-main-dark" id="appointment-modal">записатись</button>
          <a href="../portfolio.html" class="button-main-light about-section-button"
            >переглянути</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<load ="./contacts.html" />
