<div class="mobile-menu js-menu-container visually-hidden" id="mobile-menu">
  <div class="mobile-menu-container">
    <button type="button" class="mobile-menu-close-button js-close-menu">
      <svg class="mobile-menu-close-icon" width="40" height="40">
        <use href="../images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li>
          <a href="./index.html" class="mobile-menu-nav-link"> Головна </a>
        </li>
        <li>
          <a href="./portfolio.html" class="mobile-menu-nav-link">Про нас</a>
        </li>
        <li>
          <a href="#" class="mobile-menu-nav-link">Послуги</a>
        </li>
        <li>
          <a href="#" class="mobile-menu-nav-link">Портфоліо</a>
        </li>
        <li>
          <a href="#" class="mobile-menu-nav-link">Контакти</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-menu-socials">
      <li class="mobile-menu-socials-item">
        <a href="" class="mobile-menu-socials-link"
          >Instagram
          <svg width="24" height="24">
            <use href="../images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="mobile-menu-socials-item">
        <a href="" class="mobile-menu-socials-link"
          >Facebook
          <svg width="24" height="24">
            <use href="../images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="button-main-dark">Записатись</button>
  </div>
</div>
