<section>
  <table class="services-table container">
    <thead class="visually-hidden">
      <tr>
        <th>Номерація</th>
        <th>Назва</th>
        <th>Опис процедури і ціна</th>
      </tr>
    </thead>
    <tr class="service-box">
      <td class="number-title-wrapper">
        <p class="main-title service-number-title-item">01</p>
        <h2 class="main-title service-number-title-item main-table-title">
          Консультація та діагностика
        </h2>
      </td>
      <td class="service-list-box">
        <ul class="service-list service-list-first">
          <li class="service-price-box">
            <h3 class="secondary-table-title">Первинна консультація</h3>
            <p class="price-text">300₴</p>
          </li>
          <li class="service-price-box">
            <h3 class="secondary-table-title">
              Діагностика та складання комплексного плану лікування
            </h3>
            <p class="price-text">1 000₴</p>
          </li>
        </ul>
      </td>
    </tr>
    <tr class="service-box">
      <td class="number-title-wrapper">
        <p class="main-title service-number-title-item">02</p>
        <h2 class="main-title service-number-title-item main-table-title">
          Терапевтична стоматологія
        </h2>
      </td>
      <td class="service-list-box">
        <h3 class="secondary-table-title">
          Художня реставрація зубів композитним матеріалом
        </h3>
        <ul class="service-list">
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">1 рівень складності</p>
              <p class="price-text">1 500₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">2 рівень складності</p>
              <p class="price-text">2 000₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">3 рівень складності</p>
              <p class="price-text">2 500₴</p>
            </div>
          </li>

          <li class="service-item">
            <h3 class="secondary-table-title list-subtitle">
              Ендодонтичне лікування зубів під мікроскопом
            </h3>

            <div class="service-price-box">
              <p class="secondary-table-subtitle">
                Лікування кореневих каналів (різці, ікла)
              </p>
              <p class="price-text">2 700₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">
                Лікування кореневих каналів (премоляри)
              </p>
              <p class="price-text">3 900₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box exception-price-box">
              <p class="secondary-table-subtitle">
                Лікування кореневих каналів (моляри)
              </p>
              <p class="price-text">4900₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <h3 class="secondary-table-title">
                Професійна гігієна зубів (обидві щелепи)
              </h3>
              <p class="price-text">1 800₴</p>
            </div>
          </li>
        </ul>
      </td>
    </tr>

    <tr class="service-box">
      <td class="number-title-wrapper">
        <p class="main-title service-number-title-item">03</p>
        <h2 class="main-title service-number-title-item main-table-title">
          Хірургічна стоматологія
        </h2>
      </td>
      <td class="service-list-box">
        <h3 class="secondary-table-title">Видалення зуба</h3>

        <ul class="service-list">
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">Стандартне видалення</p>
              <p class="price-text">1 000₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">Атипове</p>
              <p class="price-text">1 500₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">Видалення зуба мудрості</p>
              <p class="price-text">2 000₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">
                Видалення ретинованого (непрорізаного зуба)
              </p>
              <p class="price-text">2 500₴</p>
            </div>
          </li>

          <li class="service-item">
            <h3 class="secondary-table-title list-subtitle">Імплантація</h3>

            <div class="service-price-box">
              <p class="secondary-table-subtitle">
                Інсталяція дентального імпланта фірми “Osstem”
              </p>
              <p class="price-text">14 000₴</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle">
                Інсталяція дентального імпланта фірми “Straumann”
              </p>
              <p class="price-text">29 000₴</p>
            </div>
          </li>

          <li class="service-item">
            <div class="service-price-box">
              <p class="secondary-table-subtitle long-price">
                Інсталяція в методиці “All-in-X” (під ключ)
              </p>
              <p class="price-text">від 182 000₴</p>
            </div>
          </li>
        </ul>
      </td>
    </tr>

    <tr class="service-box">
      <td class="number-title-wrapper">
        <p class="main-title service-number-title-item">04</p>
        <h2 class="main-title service-number-title-item main-table-title">
          Ортопедична стоматологія
        </h2>
      </td>
      <td class="service-list-box">
        <ul class="service-list">
          <li class="service-item">
            <h3 class="secondary-table-title list-subtitle exception-subtitle">
              Вініри
            </h3>

            <div class="service-price-box">
              <p class="secondary-table-subtitle">“E-max”, рефрактор</p>
              <p class="price-text">від 12 000 ₴</p>
            </div>
          </li>
          <li class="service-item">
            <h3 class="secondary-table-title list-subtitle">
              Естетичні керамічні реставрації (коронки)
            </h3>

            <div class="service-price-box">
              <p class="secondary-table-subtitle">“E-max”, діоксід цирконію</p>
              <p class="price-text">від 7 000 ₴</p>
            </div>
          </li>
          <li class="service-item">
            <h3 class="secondary-table-title list-subtitle">
              Керамічна реставрація на імпланті
            </h3>

            <div class="service-price-box">
              <p class="secondary-table-subtitle">Діоксід цирконію</p>
              <p class="price-text">від 9 000 ₴</p>
            </div>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</section>
