.footer {
  padding-top: 50px;
  padding-bottom: 20px;

  @media screen and (min-width: 834px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
  @media screen and (min-width: 834px) {
    flex-direction: row;
    column-gap: 182px;
    align-items: center;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    gap: 176px;
    margin-bottom: 24px;
  }
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-accent);
  margin-bottom: 40px;
  display: none;
  @media screen and (min-width: 834px) {
    display: block;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 24px;
  }
}

.footer-logotype {
  display: flex;
  justify-content: center;
}

.footer-nav-link {
  position: relative;
  display: block;
  padding-top: 58px;
  padding-bottom: 58px;

  font-family: var(--main-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform var(--time-function);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(100%);
    background-color: var(--header-hover-color);
  }
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-accent);
}

.footer-logotype-icon {
  width: 143px;
  height: 113px;
  fill: var(--color-accent);
}

.footer-copyright {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--color-dark);
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 67px;
  }
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-socials-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
}

.footer-socials-link {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;

  &:hover .footer-icon,
  &:focus .footer-icon {
    fill: var(--header-hover-color);
  }
}

.footer-socials-item {
  display: flex;
  justify-content: center;
}

.footer-socials-text {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--color-dark);
}

@media screen and (min-width: 1440px) {
}
