.footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-nav {
  font-family: var(--main-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark);
}

.footer-icon {
  width: 24px;
  height: 24px;
}
/* 
.footer-nav-list {
  display: block;
  gap: 16px;
} */

/* @media screen and (min-width: 834px) {
    
  }
  @media screen and (min-width: 1440px) {
   
  } */

/* color: #3e403d; */
