.portfolio {
  padding-top: 40px;
  padding-bottom: 50px;

  @media screen and (min-width: 834px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.portfolio-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  @media screen and (min-width: 834px) {
    gap: 13px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.portfolio-item:nth-child(n + 5) {
  display: block;

  @media screen and (max-width: 833px) {
    display: none;
  }
}

.portfolio-btn {
  margin-top: 24px;
  margin-bottom: 40px;

  @media screen and (min-width: 834px) {
    display: none;
  }
}
.disabled-button {
  opacity: 0.5;
}

.info-box {
  @media screen and (min-width: 834px) {
    position: absolute;
    bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    bottom: 186px;
  }
}

.info-subtitle {
  width: 299px;
  margin-bottom: 24px;

  font-family: var(--main-family);
  font-weight: 400;
  font-size: 22px;
  color: var(--color-accent);
  @media screen and (min-width: 834px) {
    width: 275px;
    font-size: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 459px;
  }
}

.link-width {
  text-align: center;
  @media screen and (min-width: 834px) {
    width: auto;
  }
}
