.home-section {
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: 834px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.homepage-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  @media (min-width: 834px) {
    flex-direction: row;
    gap: 24px;
  }
}

.homepage-box-reverse {
  @media (min-width: 834px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 24px;
  }
}

.home-text-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  @media (min-width: 834px) {
    width: 436px;
  }

  @media (min-width: 1440px) {
    width: 590px;
  }
}

.home-btn-box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 834px) {
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    margin-top: 32px;
  }
}

.button-homepage {
  text-align: center;
  border: 1px solid var(--color-accent);
}

.home-img-desktop {
  @media (max-width: 1439px) {
    display: none;
  }
}

.home-img {
  position: relative;
}

.home-img::after {
  content: '';
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;

  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.homepage-2 {
  position: relative;
}

.home-image-box {
  position: relative;

  @media (max-width: 833px) {
    margin-bottom: 16px;
  }
}

@media (max-width: 833px) {
  .homepage-2::after {
    display: none;
  }
}

@media (min-width: 834px) {
  .homepage-2::after {
    position: absolute;
    z-index: -1;

    content: '';
    height: 160px;
    background-color: var(--color-accent);
    width: 40vw;
    right: 0;
    bottom: 0px;
  }
}

@media (max-width: 833px) {
  .homepage-2 .container {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 833px) {
  .homepage-2 .home-text-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 833px) {
  .home-image-box::before {
    position: absolute;
    z-index: -1;

    content: '';
    width: 100%;
    height: 100px;
    background-color: var(--color-accent);
    right: 0;
    bottom: 0;
  }
}

.home-img-reverse {
  display: flex;
  gap: 24px;
  flex-direction: row-reverse;

  @media (max-width: 833px) {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 833px) {
  .homepage-2 .home-image-reverse {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 833px) {
  .homepage-2 .home-text-box {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 834px) {
  .first-title::after {
    content: '01';
    position: absolute;
    top: -30px;
    right: 0px;

    font-size: 155px;
    font-weight: 400;
    line-height: 97%;

    color: rgba(63, 91, 111, 0.05);
  }
}

@media (min-width: 834px) {
  .second-title::after {
    content: '02';
    position: absolute;
    top: 0px;
    right: -10px;

    font-size: 155px;
    font-weight: 400;
    line-height: 97%;

    color: rgba(63, 91, 111, 0.05);
  }
}

@media (min-width: 1440px) {
  .second-title::after {
    top: -30px;
  }
}

@media (min-width: 834px) {
  .third-title::after {
    content: '03';
    position: absolute;
    top: -30px;
    right: 0px;

    font-size: 155px;
    font-weight: 400;
    line-height: 97%;

    color: rgba(63, 91, 111, 0.05);
  }
}

@media (min-width: 1440px) {
  .third-title::after {
    top: -30px;
  }
}

.home-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 162px;
  height: 162px;
  stroke: var(--color-accent);
  fill: var(--color-accent);
}
