.homepage-box {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 834px) {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
}

.homepage-about-section {
  padding-top: 20px;

  @media (min-width: 834px) {
    padding-top: 50px;
  }
}

.homepage-service-section {
  position: relative;
  overflow: hidden;
}

.service-section-box-reverse {
  @media (min-width: 834px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.homepage-portfolio-section {
  padding-bottom: 20px;
  @media (min-width: 834px) {
    padding-bottom: 50px;
  }
}

.about-section-text-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 834px) {
    padding-top: 16px;
  }

  @media (min-width: 834px) {
    width: 436px;
  }

  @media (min-width: 1440px) {
    width: 590px;
  }
}

.about-section-btn-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;

  @media (min-width: 834px) {
    flex-direction: row;
  }
}

.about-section-button {
  text-align: center;
  border: 1px solid var(--color-accent);
}

.service-section-image-desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.about-section-image,
.service-section-image {
  position: relative;
  background-color: #f5f5f5;

  @media (min-width: 375px) {
    width: 335px;
    height: 197px;
  }

  @media (min-width: 834px) {
    width: 294px;
    height: 426px;
  }

  @media (min-width: 1440px) {
    width: 662px;
    height: 390px;
  }
}

.service-section-image {
  @media (min-width: 1440px) {
    width: 637px;
    display: flex;
    justify-content: space-between;
  }
}

.about-section-image::after {
  content: '';
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;

  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.about-section-image::before {
  z-index: -1;
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100px;
  background-color: #c1bfc0;
}

@media (min-width: 834px) {
  .about-section-image::before {
    left: -100px;
    width: 50vw;
    height: 162px;
  }
}

@media (min-width: 1440px) {
  .about-section-image::before {
    left: 0;
    height: 162px;
  }
}

.service-section-image::before {
  z-index: -1;
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100px;
  background-color: var(--color-accent);
}

@media (min-width: 834px) {
  .service-section-image::before {
    width: 50vw;
    height: 162px;
    transform: translate(0%);
  }
}

@media (max-width: 833px) {
  .homepage-service-section .about-section-text-box {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 833px) {
  .homepage-service-section .home-text-box {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 834px) {
  .about-section-first-title::after {
    content: '01';
    position: absolute;
    top: -30px;
    right: 0px;

    font-size: 155px;
    font-weight: 400;
    line-height: 97%;

    color: rgba(63, 91, 111, 0.05);
  }
}

@media (min-width: 834px) {
  .about-section-second-title::after {
    content: '02';
    position: absolute;
    top: 0px;
    right: -10px;

    font-size: 155px;
    font-weight: 400;
    line-height: 97%;

    color: rgba(63, 91, 111, 0.05);
  }
}

@media (min-width: 1440px) {
  .about-section-second-title::after {
    top: -30px;
  }
}

@media (min-width: 834px) {
  .about-section-third-title::after {
    content: '03';
    position: absolute;
    top: -30px;
    right: 0px;

    font-size: 155px;
    font-weight: 400;
    line-height: 97%;

    color: rgba(63, 91, 111, 0.05);
  }
}

@media (min-width: 1440px) {
  .about-section-third-title::after {
    top: -30px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-section-icon {
  display: none;
  position: absolute;
  top: -25%;
  right: 40px;
  width: 162px;
  height: 162px;

  animation: rotate 15s linear infinite;

  @media (min-width: 834px) {
    display: block;
  }

  @media (min-width: 1440px) {
    top: -35%;
    right: 70px;
    width: 185px;
    height: 185px;
  }
}
