.mobile-menu {
  display: none;
  width: 375px;
  background-color: var(--color-white);
  z-index: 10;

  text-align: center;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--time-function);

  &.is-open {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (min-width: 834px) {
    top: 20px;
    right: auto;
    transform: none;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 56px 90px 24px 90px;
}

.mobile-menu-close-button {
  position: absolute;

  right: 24px;
  top: 24px;

  padding: 0px;

  border: none;
  background-color: transparent;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu-nav-link {
  position: relative;
  font-family: var(--main-family);
  font-weight: 400;
  color: var(--color-dark);
  font-size: 18px;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform var(--time-function);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(100%);
  }
}

.mobile-menu-socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 124px;
  margin: 0 auto;
}

.mobile-menu-socials-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  font-family: var(--second-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  color: var(--color-dark);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform var(--time-function);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(100%);
  }
}
